.header-footer, header, footer {
  background-color: green;
  width: 100%;
  font-size: 30px; }

.header-footer, header, footer {
  background-color: green;
  width: 100%;
  font-size: 30px; }

.header-footer, header, footer {
  background-color: green;
  width: 100%;
  font-size: 30px; }

section {
  width: 100%;
  font-family: verdana;
  line-height: 1.5;
  font-style: italic; }

.header-footer, header, footer {
  background-color: green;
  width: 100%;
  font-size: 30px; }

footer {
  display: flex;
  justify-content: space-between; }
