$size: 30px;
$fondo-de-color: rgb(236, 165, 10);
$ancho: 100%;
$colorin: #f4e242;
$green: green;
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: verdana;
$alinearac: center;


